.Rapp.history
*/.Rapp.history
*/*/.Rapp.history
.DS_Store
*/.DS_Store
*/snakejob*
*/slurm*
*/.snakemake
*/logs
*/benchmarks
*/data
*/output
.wget-hsts
*/.wget-hsts
exMachima/toymodel
exMachima/machima
exMachima/bindSC
exMachima/bicca
exMachima/X_Epi.gif
exMachima/X_RNA.gif
