.Rapp.history
*/.Rapp.history
*/*/.Rapp.history
.DS_Store
*/.DS_Store
*/snakejob*
*/slurm*
*/.snakemake
*/logs
*/benchmarks
*/data
*/output
.wget-hsts
*/.wget-hsts
Machima/toymodel
Machima/machima
Machima/bindSC
Machima/bicca
Machima/X_Epi.gif
Machima/X_RNA.gif
